{
  "extends": ["plugin:@empathyco/x/all"],
  "rules": {
    "vuejs-accessibility/no-autofocus": "off",
    "vue/multi-word-component-names": "off"
  },
  "overrides": [
    {
      "files": ["*-icon*.vue", "logo.vue"],
      "rules": {
        "max-len": "off"
      }
    }
  ]
}
