//nexus.shared.empathy.co/content/groups/npm-registry/:_auth=dGFqZXNwYXNhcmVsYTozMDIzY2E2OGNlZTkzYWM4YmU4YjRlMWEyM2MxZjRhMTMzMDg3Mjhh
@empathy:registry=https://nexus.shared.empathy.co/content/groups/npm-registry/
@empathybroker:registry=https://nexus.shared.empathy.co/content/groups/npm-registry/

loglevel=warn
