:root {
  // base colors
  --x-color-base-auxiliary: #e5f3f7;
  --x-color-base-accent: #0086b2;
  --x-color-base-lead: #243d48;
  --x-color-base-neutral-10: #243d48;
  --x-color-base-neutral-70: #bbc3c6;
  --x-color-base-neutral-95: #f5f6f7;

  // Tag
  --x-color-border-tag-default: var(--x-color-base-neutral-70);
  --x-color-background-tag-default-selected: var(--x-color-base-accent);
  --x-color-text-tag-default-selected: var(--x-color-base-neutral-100);
  --x-color-border-tag-default-selected: var(--x-color-base-accent);
  --x-size-gap-tag-default: var(--x-size-base-03);
  --x-number-font-weight-tag-default-selected: var(--x-number-font-weight-base-bold);

  // Dropdown
  --x-color-border-dropdown-toggle-default: transparent;

  // Layout
  --x-size-margin-left-layout-s: var(--x-size-base-10);
  --x-color-background-layout-header-backdrop: transparent;
  --x-color-background-layout-header: var(--x-color-base-neutral-100);

  // Grid
  --x-size-min-width-grid-item: var(--x-size-base-20);

  // Message
  --x-color-background-message-default: var(--x-color-base-neutral-95);
  --x-color-border-message-default: var(--x-color-background-message-default);
  --x-color-text-message-default: var(--x-color-text-default);
  --x-size-border-width-message-default: var(--x-size-border-width-base);
  --x-space-padding-message: var(--x-size-base-06);

  // Input
  --x-color-background-button-default: var(--x-color-base-neutral-10);
  --x-number-font-weight-input-group-default-button: var(--x-number-font-weight-base-regular);
  --x-size-font-input-group-default: var(--x-size-font-base-m);
  --x-size-gap-input-group-default: var(--x-size-base-05);
  --x-size-height-input-group-default: var(--x-size-base-08);
}
