name: Deploy
description: Deploy project
inputs:
  aws_role:
    description: Role to assume during the deployment
    required: true
  aws_deploy_path:
    description: the path to the s3 folder where to deploy
    required: true
  aws_s3_sync_args:
    description: additional arguments for s3 sync command
    required: true
  aws_s3_cache:
    description: cache value for s3 sync command
    required: true
  cloudfront_distribution_id:
    description: the CloudFront cache id to invalidate
    required: true
  cloudfront_invalidation_paths:
    description: the CloudFront path to invalidate
    required: true
runs:
  using: 'composite'
  steps:
    - name: Configure AWS credentials from Websites account
      uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
      with:
        role-to-assume: ${{ inputs.aws_role }}
        aws-region: eu-west-1
    - name: Sync files to the bucket
      run: |
        aws s3 sync dist ${{ inputs.aws_deploy_path }} --delete --cache-control ${{ inputs.aws_s3_cache }} ${{ inputs.aws_s3_sync_args }}  --no-progress
      shell: bash
    - name: Invalidate CloudFront cache
      run: AWS_MAX_ATTEMPTS=10 aws cloudfront create-invalidation --distribution-id ${{ inputs.cloudfront_distribution_id }} --paths ${{ inputs.cloudfront_invalidation_paths }}
      shell: bash
