name: Build on push
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    if: false
    uses: empathyco/platform-reusable-github-actions/.github/workflows/x-archetype-build.yml@main
    secrets: inherit
