name: PR Validate & Preview
on:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  pr-preview:
    if: false
    uses: empathyco/platform-reusable-github-actions/.github/workflows/x-archetype-pr-preview.yml@main
    secrets: inherit
